* {
    margin: 0;
    padding:0;
}

body {
    background-color: #222222;

}



.base {
    width: 1024px;
    height: 1768px;
    margin: 0 auto 0 auto;
}

header {
    position: fixed;
    width: 1024px;
    height: 200px;
    display: block;
}

header nav {
    width: 100%;
    height: 50px;
    background-color: #000000;
    margin: 0 auto 0 auto;
    position: absolute;
}

ul {
    display: block;
}

ul li {
    display: inline-block;
    margin-left: 110px;
    font-size: 15px;
    list-style: none;
}

a {
    color: #ed145b;
    text-decoration: none;
    text-transform: uppercase;
}

img {
    width: 1024px;
    display: relative;
    margin-top: 70px;
}

footer {
    background-color: #3f3f3f;
    color: #fff;
    text-align: center;
}